//<МИКСИНЫ>===============================================================================================
@import "_mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1180;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null.scss";
body {
	color: #000;
	font-size: 14px;
	font-family: $fontfamily;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "_forms.scss";
//@import "_ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "_datepicker.scss";
//@import "_fontawesome.scss";
//@import "_popover.min.scss";
//@import "_baguetteBox.scss";
//@import "_pagging.scss";
//@import "_icons.scss";
//@import "_popup.scss";
//@import "_header.scss";
//@import "_footer.scss";
//@import "_home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content {
}
//<БЛОК HI>========================================================================
.hi {
	background-color: #445162;
	padding: 50px 0px;
		&__row {
			display: flex;
			justify-content: space-between;
		}

		&__body {
			color: #FFFFFF;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			padding-right: 30px;
		}

		&__title {
			font-size: 60px;
			margin-bottom: 38px;
		}
		&__list {

		}
		&__list li{
			font-size: 20px;
			line-height: 22px;
			background: url('..//img/icons/check_icon.svg') 0 1px no-repeat;
			padding-left: 36px;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0px;
			}
		}

		&__image {
		}
}
//<БЛОК what>===========================================================================
.what {
	padding: 50px 0;
	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__image {
	}

	&__body {
		margin: 0 60px;
	}

	&__title {
		margin-bottom: 33px;
	}

	&__text {
		color:#333333;
		font-size:16px;
		line-height: 24px;
		& p:first-child{
			margin-bottom: 30px;
		}
	}
}

.title {
	font-size:30px;
	color:#445161;
	line-height: 36px;
}

//<БЛОК columns>=======================================================

.columns {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;


	&__title {
		//align-items: center;
		//justify-content: center;
		margin: 48px auto 30px auto;
		text-align: center;
	}

	&__row {
		display: flex;
		flex-wrap:wrap;
		margin-bottom: 20px;
	}

	&__column {
		display: flex;
		flex: 1 1 50%;
		margin-bottom: 30px;
	}

	&__image {
		margin-top: 5px;
	}

	&__body {
	}

	&__subtitle {
		font-size: 24px;
		line-height: 30px;
		color: #445161;
		margin-left: 15px;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		margin: 15px 14px 0 15px;
	}
}

//<БЛОК footer>=======================================================
.footer {
	background-color: #F5F5F5;


		&__row {
			display: flex;
			height: 65px;
			justify-content:center;
			align-items: center;
		}

		&__text {
			color:#445162;
			font-size:12px;
			letter-spacing: 0.3px;
		}
}


//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
